{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
{% endblock banner-slider %}

{% block information %}


<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cupiditate dicta e
            a eligendi facilis laborum molestiae mollitia natus nostrum
            officiis pariatur quam quidem recusandae saepe, sit soluta tenetur velit!
        </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
    <div class="container">
     <h1>Welcome Dairy Products site .........</h1>
    </div>
    <br> <br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
             style="animation-duration: 1s; animation-delay: 0.6s;animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/product/buffalo-ghee.png' %}" class="img-responsive" alt="">
                        <p class="mlkpro">Ghee</p>

                    </div>
                </a>

            </div>
        </div>

    <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
             style="animation-duration: 1s; animation-delay: 0.6s;animation-name: none;">
            <div class="goodnesssec buttermilk curdbgpro">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/product/curd-total.png' %}" class="img-responsive" alt="">
                        <p class="mlkpro">CURD</p>

                    </div>
                </a>

            </div>
        </div>

    <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
             style="animation-duration: 1s; animation-delay: 0.6s;animation-name: none;">
            <div class="goodnesssec buttermilk buttermilk">
                <a href="#">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/product/kulfi.png' %}" class="img-responsive" alt="">
                        <p class="mlkpro">KULFI</p>

                    </div>
                </a>

            </div>
        </div>

    </div>
    <br><br>
{% endblock main-content %}